<div>
  <label >To UserId: {{connectionId}}</label>
    
  </div>
  <div>
    <input type="text" [(ngModel)]="toConnectionId" placeholder="To Connection Id" rows="5" cols="50"/>
  </div>

<div>
  <label >UserId: {{connectionId}}</label>
    
  </div>
  <div>
    <textarea type="textarea" [(ngModel)]="message" placeholder="Message" rows="5" cols="50">

    </textarea>
  
  </div>
  <div>
    <button (click)="broadcastMessage()">Send</button>
    <button (click)="sebdPrivateMessage()">Send Private Message</button>
  </div>
  <hr>
  <div *ngFor="let msg of messages">
    {{msg}}
  </div>
<hr>
  <div>
    <label >Active Connection Ids</label>
      
    </div>
    <hr>
  <div *ngFor="let con of connections">
    <span style="background-color: aquamarine;" (click)="toConnectionId=con.connectionId">    {{con?.connectionId}}</span>
  </div>
